[submodule "TS_analysis"]
	path = TS_analysis
	url = https://github.com/varun-TR/TS_analysis.git
[submodule "Atliq_sales_insights"]
	path = Atliq_sales_insights
	url = https://github.com/varun-TR/Atliq_sales_insights.git
[submodule "london_bike_sharing"]
	path = london_bike_sharing
	url = https://github.com/varun-TR/london_bike_sharing.git
[submodule "coffee_shop_insights"]
	path = coffee_shop_insights
	url = https://github.com/varun-TR/coffee_shop_insights.git
[submodule "Olympic_Legacy"]
	path = Olympic_Legacy
	url = https://github.com/varun-TR/Olympic_Legacy.git
[submodule "customer-market_performance_report"]
	path = customer-market_performance_report
	url = https://github.com/varun-TR/customer-market_performance_report.git
[submodule "infringement-url-analyzer"]
	path = infringement-url-analyzer
	url = https://github.com/varun-TR/infringement-url-analyzer.git
[submodule "Webscrapper_for_journals"]
	path = Webscrapper_for_journals
	url = https://github.com/varun-TR/Webscrapper_for_journals.git
